# Project exclude paths
/venv/
.idea
.ipynb_checkpoints
LSA/.ipynb_checkpoints
LSA/__pycache__/
embedding/__pycache__/
embedding/tags_titles.csv
embedding/texts_titles.csv
NER/__pycache__/
NER/lightning_logs
NER/tb_logs